label,textarea{
  display:inline-block;
  vertical-align:middle;
}

.jumbotron {
    background: rgb(193,193,193);
    background: linear-gradient(180deg, rgba(193,193,193,1) 0%, rgba(233,233,233,1) 48%, rgba(255,255,255,1) 100%);
}
